/* Fonts */

/* Lalezar  */
@import url('https://v1.fontapi.ir/css/Lalezar');
/* Lalezar */

/* Vazir */
@import url('https://v1.fontapi.ir/css/Vazir');
/* Vazir */

/* Sahel */
@import url('https://v1.fontapi.ir/css/Sahel');
/* Sahel */

/* Fonts */

:root{
    --orange:#e67e22;
    --black:#333;
    --light-color:#777;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    font-family: Vazir;
    direction: rtl;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.header {
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;    
    padding:0.5rem 5%;
}

.header .logo {
    text-decoration: none;
    color: var(--black);
    font-size: 1.7rem;
    font-family: Sahel;
}

.header .navbar a{
    color:var(--light-color);
    margin-right: 2rem;
    font-size: 1rem;
    text-transform: capitalize;
}

.header .logo span {
    color: var(--orange);
    font-family: Sahel;

}

.colider {
    border-right: 1px solid #ccc; margin: 0 10px 0 -25px
}

.banner{
    min-height: 80vh;
    background:url(../Images/banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    padding-top: 1rem;
}

.banner .content{
    text-align: center;
    background:#fff;
    border-radius: .6rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    max-width: 32rem;
    max-height: 15rem;
}

.banner .content h3{
    font-size: 1.7rem;
    color:var(--black);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.banner .content p{
    font-size: 1rem;
    color:var(--light-color);
    padding:0.3rem 0;
    line-height: 1.5;
}

.btn {
    /* margin-top: 1rem; */
    display: inline-block;
    background:var(--black);
    color:#fff;
    border-radius: .5rem;
    padding:.5rem 3rem;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background:var(--orange);
}


.container{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap:1.5rem;
    background:#eee;
}

.container .posts-container .post {
    width:90%;
    padding:1rem;
    background:#fff;
    border:var(--border);
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 5rem;
}

.container .posts-container .post .image {
    height: 40rem;
    width:100%;
    height: 450px;
    border-radius: .5rem;
    object-fit: cover;
}

.container .posts-container .post .date {
    padding-top: 1rem;
    font-size: 0.9rem;
    color:var(--orange);
}

.container .posts-container .post .title {
    padding-top: .3rem;
    font-size: 1.5rem;
    color:var(--black);

}

.container .posts-container .post .text {
    color:var(--light-color);
    font-size: 1rem;
    line-height: 1.7;
    padding-top: .4rem;
    padding:.5rem 0;
}

.container .posts-container .links {
    border-top: var(--border);
    margin-top: .5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
}

.container .posts-container .links .user {
    margin-right: auto; 
}

.container .posts-container .links .icon {
    padding-right: 1rem;
}

.container .posts-container .links a {
    font-size: 1.5rem;
    color:var(--light-color);
}

.container .posts-container .links a i {
    padding-right: .2rem;
    color:var(--black);
}

.container .posts-container .links a:hover {
    color:var(--orange);
}

.container .posts-container .links a:hover i {
    color:var(--orange);
}